{% extends 'AppAdministracion/padre.html' %}

{% load static %}

{% block contenidoQueCambia %}

    {% if miFormulario.errors %}
    <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}

    <p>Estamos buscando la categoria : {{categoria}}</p>

    {% if articulos %}
        <ul>
            {% for articulo in articulos %}
                <li>{{articulo.nombre}}</li>
                <li>{{articulo.codigo}}</li>
                <li>{{articulo.categoria}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay datos con esa descripcion</p>
    {% endif %}
    <p style="color: red;">{{respuesta}}</p>
{% endblock %}